@model CreateGladiatorViewModel

@if (User.IsInRole("Admin") || User.IsInRole("User"))
{
        <h2>Choose stats for your gladiator</h2>
    
        <p>Available points: @Model.AvailablePoints</p>

        <p>
            Strength:   @Model.Strength <br />
            Defence:    @Model.Defence <br />
            Accuracy:   @Model.Accuracy <br />
            Health:     @Model.Health <br />
        </p>
    
    <table class="table">
        <thead>
            <tr>
                <th>Strength</th>
                <th>Defence</th>
                <th>Accuracy</th>
                <th>Health</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    
    <form asp-action="AddStat">
        <label asp-for"ChosenStat">Attack</label>
        <input asp-for="ChosenStat" type="radio" value="Attack" />
        <label asp-for"ChosenStat">Defence</label>
        <input asp-for="ChosenStat" type="radio" value="Defence" />
        <label asp-for"ChosenStat">Accuracy</label>
        <input asp-for="ChosenStat" type="radio" value="Accuracy" />
        <label asp-for"ChosenStat">Health</label>
        <input asp-for="ChosenStat" type="radio" value="Health" />
        <button type="submit">Add</button>
    </form>
    
    <p>Name your new gladiator:</p>
    
    <form asp-action="Create" method="post">
        <input asp-for="@Model.Name" />
        <button type="submit">Create</button>
    </form>
}