@model GladiatorManagement.Models.PlayerGladiator

@if (User.IsInRole("Admin") || User.IsInRole("User"))
{
<p>The number in parentheses after each attribute is the addition from weapon/armor </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Level)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Experience)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Score)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Strength)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Accuracy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Health)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Defence)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Armor.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Weapon.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Level)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Experience)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Score)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Strength) + (@Model.Weapon.Strength)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Accuracy) + (@Model.Weapon.Accuracy)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Health) + (@Model.Armor.Health)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Defence) + (@Model.Armor.Defence)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Armor.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Weapon.Name)
                </td>
            </tr>
        </tbody>
    </table>
}