@model PlayerViewModel

@if (User.IsInRole("Admin") || User.IsInRole("User"))
{
    @if (@Model != null)
    {
        <h3>Player info</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Score
                    </th>
                    <th>
                        Gold
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Model.Player.Name
                    </td>
                    <td>
                        @Model.Player.Score
                    </td>
                    <td>
                        @Model.Player.Gold
                    </td>
                </tr>
            </tbody>
        </table>

        <h3>Gladiators</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        ID
                    </th>
                    <th>
                        Level
                    </th>
                    <th>
                        Details
                    </th>
                    <th>
                        Shop
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (PlayerGladiator gladiator in Model.Player.Gladiators)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => gladiator.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => gladiator.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => gladiator.Level)
                        </td>
                        <td>
                            <button onclick="showDetails(@gladiator.Id)" class="btn btn-primary">Details</button>
                        </td>
                        <td>
                            <button onclick="EnterShop(@gladiator.Id)" class="btn btn-primary">Shop</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>        
    }
}
<script>
    function showDetails(e) {
        let id = e;
        var url = "Player/GladiatorDetails/" + id;
        $.post(url, function (res) {
            $("#viewContainer").html(res);
        });
    }
    function EnterShop(e) {
        let id = e;
        var url = "Player/Shop/" + id;
        $.post(url, function (res) {
            $("#viewContainer").html(res);
        });
    }
</script>

